.body{
  margin: 0%;
  padding: 0%;
}

.bg-light{
  background-color: #181818 !important;
}

.space{
  margin-top: 15px;
}

.card{
  width: 65% !important;
  margin: auto;
  color: white !important;
  background-color: #303030 !important;
}
