.body{
  background-color: #1D1F20 !important;
}

.space{
  margin-top: 15px;
}

.card{
  width: 65% !important;
  margin: auto;
  color: white !important;
  background-color: #303030 !important;
}